  {{#extend "scripts"}}
  <script type="text/javascript" src="/vendor/qrcodejs/qrcode.min.js"></script>
  <script type="text/javascript" src="/vendor/openpgp/openpgp.js"></script>
  <script type="text/javascript" src="/vendor/clipboard/clipboard.min.js"></script>
  <script type="text/javascript" src="/js/controllers/beta.js"></script>
  {{/extend}}

<div class="container-fluid js-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-lg-12">

              <h3>
                Document information<br>
                <small id="digest" class="digest">Loading...</small>
              </h3>
      <div id="confirmed_signatures" style="display: none;">
        <h4>Signed by:</h4>
        <ul>
        </ul>
      </div>
      <div id="timestamp">Please wait</div>

      <div class='jumbotron' id='signatures' style="display: none; padding-top: 15px; padding-bottom: 20px;">
        <div id="explainSignatures">
          <h3>Sign this document using your PGP Key</h3>
          <ul>
            <li>Use your private key to cryptographically sign the document.</li>
            <li>If signers have a <a href="https://keybase.io">Keybase</a> account tied to their private key, you'll automatically see  their Keybase username.</li>
            <li>To send the document to other co-signers, please share this link:
              <a id="urlLink" style="font-size: 0.8em;"></a></li>
            <li>When all signatures have been added, you can store a proof of the signed document in the blockchain.</li>
          </ul>
        </div>
        <div id="signatureList" style="display: none;">
          <h4>Document has already been signed by:</h4>
          <ul style="display: none">
          </ul>
        </div>
        <div id="no_signatures_message">
        </div>
        <form role="form" style="margin-top: 25px;" class="form-horizontal" id="buttonsSignature">
          <div class="row">
            <div class="span-6">
              <button class="btn btn-primary" id="add_signature">Add Signature</button>
            </div>
            <div class="span-6">
              <button class="btn btn-primary" id="end_notarize">End &amp; Notarize</button>
            </div>
          </div>
        </form>
        <div id="privateKeyContainer" style="display: none;">
          <h3>Insert your PGP Private Key to sign this document</h3>
          <form role="form" class="form-horizontal" style="margin: 30px 30px 30px 30px;">
            <div class="row">
              <div class="col-2">
                <label for="privateKey">Private Key (if you don't have one, get it at <a href="https://keybase.io/">keybase.io</a> or <a href="https://pgpkeygen.com/">pgpkeygen.com</a>)</label>
              </div>
              <div class="col-10">
                <textarea id="privateKey" placeholder="-----BEGIN PGP PRIVATE KEY BLOCK-----" name="privateKey" rows=6 style="width: 98.3%;"></textarea>
              </div>
              <div class="alert alert-info">Your private key will never be sent to our server.</div>
            </div>
            <br/>
            <div class="row">
              <div class="col-2">
                <label for="passphrase">Passphrase (optional, if private key is encrypted)</label>
              </div>
              <div class="col-10">
                <input id="passphrase" name="passphrase" type="password" placeholder="Passphrase to unlock the private key" style="width: 100%;"></input>
              </div>
            </div>
            <div id="errorSigning" style="display: none; color: red; font-size: 1.2em;">
            </div>
            <div class="row" style="text-align:right; margin-top: 20px;">
              <button class="btn btn-default" id="cancelSignature">Cancel</button>
              <button class="btn btn-primary" id="okSignature">Sign</button>
            </div>
          </form>
        </div>
      </div>
      <div class='jumbotron' id='certify_message' style="display: none; padding-top: 20px; padding-bottom: 25px;">
        <h3>Want this <u>signed</u> document certified by a decentralized proof of
    existence?</h3>
        <p>We can embed the document's digest  and its signatures in the blockchain for you!</p>
        <p>
          The price is <strong>{{ signPriceMbtc }} mBTC</strong>.
        </p>

        <hr />
        <div class='row'>
          <div class='col-md-6' id='qr'></div>
          <div class='col-md-6' id='payment_text'>
            <div>Send <strong>{{ signPriceMbtc }} mBTC</strong> to:</div>
            <strong id='payment_link'> </strong>
            <div id="wait" class="row">
              <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
            </div>
            <div>Waiting for payment... the page will refresh automatically when a payment is received.</div>
          </div>
        </div>
        <hr />

      </div>
      <div class='jumbotron' id='confirming_message' style="display: none;">
        <p>
          We are waiting for a transaction to be confirmed in the Bitcoin network containing a cryptographic proof of your document's existence. This will embed the document's digest in the blockchain permanently.
          <p class="tx" class="digest"></p>
        </p>
      </div>
      <div class='jumbotron' id='confirmed_message' style="display: none;">
        <h3>Congratulations!</h3>
        <p>This document's digest was successfully embedded in the Bitcoin blockchain. It is now permanently certified and proven to exist since the transaction was confirmed.</p>
        <p class="tx" class="digest"></p>
        <p>If you want to verify this document in the future, just re-submit it in
          <a href="/">the homepage</a> and we'll recognize and validate it. To manually verify the document was certified in the blockchain, follow the steps detailed in the <a href="/about#technical">technical foundations section</a>.
        </p>
        <div id="sighashinfo" style="display: none;">
          <p>The digest embedded in the blockchain is not this document's, but the hash of this chunk of text, containing the signatures:</p>
          <textarea style="width: 100%;" rows=5></textarea>
          <p>The hash of this chunk is:</p>
          <p id="sighash"></p>
        </div>
      </div>

    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
