  <div class="container" style="padding-top:40px;">
    <div style="margin-top:48px;" class="notifications top-right"></div>

    <div id="content">

      <div class="jumbotron">
        <h3>Contact & Feedback</h3>
        <p>
          Please help us improve the site by providing feedback!<br />
          Having problems with our service? We can help!
        </p>

	<p>For questions, email 
     <strong><a href="mailto:love@poex.io">love@poex.io</a></strong>
        </p>
      </div>


    </div>
