<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">

      <h1>Contact & Feedback</h1>
      <p>
        Please help us improve the site by providing feedback!<br />
        Having problems with our service? We can help!
      </p>

      <p>For questions, email
        <strong><a href="mailto:{{ site.email }}">{{ site.email }}</a></strong>
      </p>
    </div>

  </div>
</div>
