  {{#extend "scripts"}}
  <script type="text/javascript" src="/qrcodejs/qrcode.min.js"></script>
  <script type="text/javascript" src="/js/controllers/detail.js"></script>
  {{/extend}}

<div class="container-fluid js-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-lg-12">

              <h3>
                Document information<br>
                <small id="digest" class="digest">Loading...</small>
              </h3>
      <div id="timestamp">Please wait</div>

      <div class='jumbotron' id='certify_message' style="display: none;">
        <h3>Want this document certified by a decentralized proof of
    existence?</h3>
        <p>We can embed the document's digest in the blockchain for you!</p>
        <p>
          You'll need to pay <strong>{{ documentPriceMbtc }} mBTC</strong> to do so, to cover our costs. Please pay to the following address:
        </p>

        <hr />
        <div class='row'>
          <div class='col-md-6' id='qr'></div>
          <div class='col-md-6' id='payment_text'>
            <div>Please send <strong>{{ documentPriceMbtc }} mBTC</strong> or more to:</div>
            <strong id='payment_link'>
            </strong>
            <div id="wait" class="row">
              <div class="col-lg-12">
              <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
              Waiting for payment... the page will refresh automatically when a payment is received.
              </div>
            </div>
          </div>
        </div>
        <hr />

      </div>
      <div class='jumbotron' id='confirming_message' style="display: none;">
        <p>
          In case you are curious, we are waiting for a transaction to occur in the Bitcoin network containing a cryptographic proof of your document's existence. This will embed the document's digest in the blockchain permanently.
        </p>
      </div>
      <div class='jumbotron' id='confirmed_message' style="display: none;">
        <h3>Congratulations!</h3>
        <p>This document's digest was successfully embedded in the Bitcoin blockchain. It is now permanently certified and proven to exist since the transaction was confirmed.</p>
        <p id="tx" class="digest"></p>
        <p>If you want to verify this document in the future, just re-submit it in
          <a href="/">the homepage</a> and we'll recognize and validate it. To manually verify the document was certified in the blockchain, follow the steps detailed in the <a href="/about#technical">technical foundations section</a>.
        </p>
      </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
