<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">

      <h1>
        {{message}}
        <small>
          {{status}}
        </small>
      </h1>

      {{#if error.stack}}
        <pre>{{error.stack}}</pre>
      {{/if}}

      <p>
        Please <a href="/contact">contact us</a> with any questions or concerns.
      </p>
    </div>
  </div>
</div>
