{{#extend "scripts"}}
  <script src="/vendor/moment/moment.min.js"></script>
  <script type="text/javascript" src="/js/controllers/index.js"></script>
{{/extend}}

<div class="index-page container-fluid js-content">

  <div class="row">
    <div class="col-lg-12">
      <div id="branding" class="">
          <img src="{{site.logo}}" alt="Main Logo">
          <h1>
            {{site.brand}}
            <br />
            <small>{{site.slogan}}</small>
          </h1>

          <h4>{{site.tagline}}</h4>

          <div id="actions">
            <a class="btn" target="_blank" href="http://github.com/proofofexistence/proofofexistence">
              Fork on Github
            </a>
            <a class="btn btn-primary" target="_blank" href="http://proofofexistence.github.io">
              Read the docs
            </a>
          </div>
      </div>
    </div>
  </div>

  <div class="row" id="upload">
      <div class="no-border card col-lg-6">
        <h3 class="card-title">
          Select a document and have it certified in the Bitcoin blockchain
          <br>
          <small>
            <span>
              If it has been certified already, you will be redirected to the original record.
            </span>
            <br>
            <a href="" data-toggle="modal" data-target="#helpModal">
              Learn more.
            </a>
          </small>
        </h3>
      </div>
      <div id="dropbox" class="card col-lg-4 ml-auto ">
        <div class="card-header">
          <h3 class="card-title">

          </h3>
          <p class="card-category">
            Drag and drop your document here, or choose a file.
            The file will <strong>not</strong> be uploaded.
          </p>
        </div>
        <div class="card-body">

          <form id="upload_form" method="POST" enctype="multipart/form-data">
            <fieldset>
              <label class="custom-file">
                <input id="file" class="custom-file-input" type="file">
                <span class="custom-file-control"></span>
              </label>
            </fieldset>
          </form>


          <div class="row">
            <div class="col-lg-12">
              <div id="explain"></div>
              <div id="hash-progress" class="progress" style="display: none">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                </div>
              </div>
              <p class="text-center">
                <small>
                <a id="digest-link" href="#" style="display: none">
                  Click here if you're not redirected.
                </a>
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <p class="card-category">
            or <a href="#" class="toggleHashSearch">input a hash</a> to find previous records.
          </p>
        </div>
      </div>


    </div>
  </div>

  <div id="search" class="row">
    <div class="col-lg-12">
      <div class="card no-border">
        <div class="card-header">
          <h3 class="card-title">
            Search an existing reference
          </h3>
          <p class="card-category">Input the <em>hash</em> representing your document to be directed to the proof of its previous existence.</p>
        </div>
        <div class="card-body">
          <form class="" action="/search" method="post">
            <input name="digest" class="form-control mr-sm-2" placeholder="Input a hash" aria-label="Search" type="search">
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- <div>
    <h3 class="card-title">
      Input a Document Hash
    </h3>
    <p class="card-category">
      Compute the SHA256 checksum hexadecimal digest for your file, and input the value here.
    </p>
    <form id="hash-form" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input id="hash-input" type="text" pattern="[A-Fa-f0-9]+" required minlength=64 maxlength=64 class="form-control" placeholder="Document hash" aria-label="Document Hash">
      </div>
      <button id="hash-submit" type="submit" class="btn btn-primary">Register</button>
    </form>
  </div> -->

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Ongoing Submissions</h3>
          <p class="card-category">Documents already registered for certification, waiting for payments.</p>
          </div>
          <div class="card-body table-responsive table-full-width">
            <table class="table table-striped" id="latest">
            </table>
          </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Certifications</h3>
          <p class="card-category">Documents of proven existence, confirmed in the blockchain</p>
        </div>
        <div class="card-body table-responsive table-full-width">
          <table class="table table-striped" id="latest_confirmed">
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
