<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Proof of Existence {{#if title}}- {{ title }}{{/if}}</title>

    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blockchain Notary Service." />

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/paper-dashboard/css/animate.min.css" rel="stylesheet">
    <link href="/paper-dashboard/css/paper-dashboard.css" rel="stylesheet">

    <link href="/css/main.css" rel="stylesheet">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/paper-dashboard/css/themify-icons.css" rel="stylesheet">

  </head>
  <body>

    <div class="wrapper">
      {{> sidebar }}

      <div class="main-panel">
        {{> navbar }}

        <div class="content">

          {{{body}}}

        </div>

        {{> footer }}

      </div>
    </div>

    {{> help }}

  <script src="/paper-dashboard/js/jquery-1.10.2.js" type="text/javascript"></script>
  <script type="text/javascript" src="/jquery-form/jquery.form.js"></script>
  <script src="/paper-dashboard/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/paper-dashboard/js/bootstrap-checkbox-radio.js"></script>
  <script src="/paper-dashboard/js/chartist.min.js"></script>
  <script src="/paper-dashboard/js/bootstrap-notify.js"></script>
  <script src="/paper-dashboard/js/paper-dashboard.js"></script>

  <script type="text/javascript" src="/js/translate.js"></script>
  <script type="text/javascript" src="/js/crypto.js"></script>
  <script type="text/javascript" src="/sprintf-js/sprintf.min.js"></script>
  <script type="text/javascript" src="/js/filedrop.js"></script>

  {{{block "scripts"}}}


    {{> analytics }}

  </body>
</html>
