<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico?v=1.2">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <title>Proof of Existence {{#if title}}- {{ title }}{{/if}}</title>

    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anonymously &amp; securely store an online distributed proof of existence for any document." />

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/paper-dashboard/css/animate.min.css" rel="stylesheet">
    <link href="/vendor/paper-dashboard/css/paper-dashboard.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
    <link href="/vendor/paper-dashboard/css/themify-icons.css" rel="stylesheet">

    <link href="/css/main.css" rel="stylesheet">
    <script src="/vendor/modernizr.js" type="text/javascript"></script>

  </head>
  <body>

    <div class="wrapper">
      {{> sidebar }}

      <div class="main-panel">
        {{> navbar }}

        <div class="content">

          {{> test }}
          {{> nojs }}

          {{{body}}}

        </div>

        {{> footer }}

      </div>
    </div>

    {{> help }}

  <script src="/vendor/jquery/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/vendor/jquery-form/jquery.form.js"></script>
  <script src="/vendor/paper-dashboard/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/vendor/paper-dashboard/js/bootstrap-notify.js"></script>
  <script src="/vendor/paper-dashboard/js/paper-dashboard.js"></script>

  <script type="text/javascript" src="/js/translate.js"></script>
  <script type="text/javascript" src="/js/crypto.js"></script>
  <script type="text/javascript" src="/vendor/sprintf-js/sprintf.min.js"></script>
  <script type="text/javascript" src="/js/filedrop.js"></script>

  {{{block "scripts"}}}

  </body>
</html>
