<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">

      <h1>
        Search
        <small>
          Documents
        </small>
      </h1>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <form class="my-6 my-lg-6" action="/search" method="post">
      <div class="form-group">
      <input name="digest" class="form-control mr-sm-4" placeholder="Document Hash" aria-label="Search" type="search">
      </div>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
