<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <a class="brand" href="./">Proof of Existence</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="{{#if active.prove}}active{{/if}}">
            <a href="/">Prove</a>
          </li>
          <li class="{{#if active.about}}active{{/if}}">
            <a href="/about">About</a>
          </li>
          <li class="{{#if active.developers}}active{{/if}}">
            <a href="/developers">API</a>
          </li>
          <li class="{{#if active.contact}}active{{/if}}">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
