  <div class="container" style="padding-top:40px;">
    <div style="margin-top:48px;" class="notifications top-right"></div>

    <div id="content">

      <div class="hero-unit">
        <h3>Contact and feedback</h3>
        <p>
          Please help us improve the site by providing feedback! <strong><a
    href="mailto:admin@proofofexistence.com">admin@proofofexistence.com</a></strong>
        </p>

        <p>
          Having problems with our service? We can help: <strong><a
    href="mailto:bugs@proofofexistence.com">bugs@proofofexistence.com</a></strong>
        </p>
      </div>


    </div>
