.no-js .js-content {
  display: none;
}

.js .nojs-content {
  display: none;
}

.index-page .jumbotron {
  background: inherit;
  padding-top: 0;
  padding-bottom: 0;
}

#dropbox.hover {
  opacity: 0.633;
  border-color: #7AC29A;
  border-style: solid;
}

/* logo */

.sidebar .logo, body > .navbar-collapse .logo {
  padding-bottom: 6px;
}

.sidebar .logo .simple-text,
.off-canvas-sidebar .logo .simple-text,
.logo .logo-svg {
  display: inline-block;
}

.logo .logo-wordmark {
  padding-left: 12px;
}

.logo .logo-svg {
  position: relative;
  top: -3px;
  margin-right: 12px;
}

.logo .logo-svg .logo-img {
  width: 30px;
  height: 30px;
}

@media (max-width: 991px) {
  .off-canvas-sidebar .logo {
    margin: 0 16px;
  }

  .off-canvas-sidebar .logo .logo-svg {
    margin-right: 10px;
  }

  .off-canvas-sidebar .logo .logo-svg .logo-img {
    width: 22px;
    height: 22px;
    left: 0px;
  }
}


#icon {
  text-align: center;
}

.digest {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* light-bootstrap-dashboard */

code {
  background-color: inherit;
}

pre {
  padding: 9.5px;
  margin: 0 0 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

pre code {
  white-space: pre-wrap;
}

.alert a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}

.sidebar .nav li .nav-link [class^="ti-"],
body > .navbar-collapse .nav li .nav-link [class^="ti-"] {
  font-size: 22px;
}

/* paper-dashboard */

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
}

h1, h2, h3, h4, h5, h6, p, .navbar, .brand, a, .td-name, td {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
}

h1, h2, h3, h4, h5, h6, logo, .logo a, .brand, .navbar-brand {
  font-family: 'Nunito',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  font-weight: 700;
}

.sidebar .nav > li.nav-bottom {
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.sidebar .nav > li.nav-bottom a{
  background: rgba(255, 255, 255, 0.14);
  opacity: 1;
  color: #FFFFFF;
}

.navbar .navbar-brand {
  font-size: 18px;
  text-transform: uppercase;
  margin: 6px 0px 4px;
}

.nav p,
.sidebar .nav p {
  font-size: 13px;
  text-transform: uppercase;
}

.nav-open .collapse.navbar-collapse.off-canvas-sidebar .sidebar-wrapper .nav.navbar-nav {
  width: 100%;
}

/* modal */

.modal {
  z-index: 10001;
}

.modal-backdrop {
  z-index: 10000;
}

/* paper-kit pagination */

.pagination > li > a,
.pagination > li > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  background-color: transparent;
  border: 2px solid #66615B;
  border-radius: 20px;
  color: #66615B;
  height: 36px;
  margin: 0 2px;
  min-width: 36px;
  padding: 5px 12px;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active,
.pagination > li.active > a,
.pagination > li.active > span,
.pagination > li.active > a:hover,
.pagination > li.active > span:hover,
.pagination > li.active > a:focus,
.pagination > li.active > span:focus {
  background-color: #66615B;
  border-color: #66615B;
  color: #FFFFFF;
}

.pagination-primary > li > a,
.pagination-primary > li > span,
.pagination-primary > li:first-child > a,
.pagination-primary > li:first-child > span,
.pagination-primary > li:last-child > a,
.pagination-primary > li:last-child > span {
  border: 2px solid #7A9E9F;
  color: #7A9E9F;
}

.pagination-primary > li > a:hover,
.pagination-primary > li > a:focus,
.pagination-primary > li > a:active,
.pagination-primary > li.active > a,
.pagination-primary > li.active > span,
.pagination-primary > li.active > a:hover,
.pagination-primary > li.active > span:hover,
.pagination-primary > li.active > a:focus,
.pagination-primary > li.active > span:focus {
  background-color: #7A9E9F;
  border-color: #7A9E9F;
  color: #FFFFFF;
}

.pagination-primary > li:first-child > span,
.pagination-primary > li:last-child > span {
  background-color: #7A9E9F;
  border-color: #7A9E9F;
  color: #FFFFFF;
}

/* themify icons */

[class^="ti-"], [class*=" ti-"] {
  font-weight: normal;
}

/* pretty spinner */
.spinner {
  margin: 50px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  } 20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
