.no-js .js-content {
  display: none;
}

.js .nojs-content {
  display: none;
}

#search {
  margin: 0 auto;
}

.social {
  margin: 0 !important;
}
.social a {
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.social svg path {
  fill: #CCC;
}

.social .twitter {
  background: url('/img/social/twitter.svg') no-repeat;
}

.social .facebook {
  background: url('/img/social/facebook.svg') no-repeat;
}

.social .telegram {
  background: url('/img/social/telegram.png') no-repeat;
  background-size: 30px;
}

.social .github {
  background: url('/img/social/github.svg') no-repeat;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.table.docproofs-table td {
  vertical-align: top;
}

.table.docproofs-table .no-wrap,
.table.docproofs-table th {
  white-space: nowrap
}

@media (min-width: 320px) and (max-width: 480px) {
  #dropbox h4 {
    margin-top:0;
  }
}
