<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://twitter.com/poexio">
            Twitter
          </a>
        </li>
        <li>
          <a href="https://facebook.com/poexio">
            Facebook
          </a>
        </li>
        <li>
          <a href="https://github.com/poexio">
            GitHub
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Proof_of_Existence">
            History
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; {{ year }} <a href="https://poex.io">PoEx Co., Ltd</a>
    </div>
  </div>
</footer>
