<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpModalLabel">Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>
            To use the service, you need a <a
            href="https://en.bitcoin.it/wiki/Wallet">Bitcoin wallet</a>, and the
            ability to send payment to a specified address, in order to certify
            your document on the Bitcoin network.
          </li>
          <li>
            The <a href="/">certification service</a> calculates the
            cryptographic digest of your document client-side. <strong>Your
            file will not be uploaded.</strong>
          </li>
          <li>
            After submitting the cryptographic digest, you will be directed to a
            page with further instructions on how to certify your document.
          </li>
          <li>
            Read more about <a href="/about">proof of existence.</a>
          </li>
          <li>
            Learn how to <a href="/developers">use our API</a>.
          </li>
          <li>
            If you have any questions please <a href="/contact">contact us</a>.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link btn-simple" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-link btn-simple" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
