<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Proof of Existence</a>
    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <form class="navbar-search form-inline my-2 my-lg-0" action="/search" method="post">
          <input name="digest" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="search">
        </form>
        <li class="nav-item">
          <a class="nav-link"  href="/about" data-toggle="modal" data-target="#helpModal">
            <i class="nc-icon nc-support-17"></i>
            <span>Help</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
