<div class="container-fluid nojs-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-warning">
        <p>
          <b>This website requires JavaScript</b>.
          The certification service calculates the cryptographic digest of your document client-side.
          Alternatively, you can calculate and submit your document data using <code>shasum</code> and <code>curl</code>.
          See the <a href="/developers">Developer API</a> for more information, read our <a href="/about">about page</a>,
          get <a href="/news">the news</a>, or <a href="/contact">contact us</a>.
        </p>
      </div>
    </div>
  </div>
</div>
