<div class="sidebar" data-color="black" data-image="">
  <div class="sidebar-wrapper">
    <div class="logo">
      <div class="logo-wordmark">
        {{# if site.logo }}
        <div class="logo-svg" >
          <img class="logo-img" src="{{ site.logo }}">
        </div>
        {{/if}}
        <a href="/" class="simple-text">{{ site.brand }}</a>
      </div>
    </div>

    <ul class="nav">
      <li class="nav-item {{#if active.prove}}active{{/if}}">
        <a class="nav-link" href="/">
          <i class="nc-icon nc-single-copy-04"></i>
          <p>Prove</p>
        </a>
      </li>
      <li class="nav-item {{#if active.about}}active{{/if}}">
        <a class="nav-link" href="/about">
          <i class="nc-icon nc-quote"></i>
          <p>About</p>
        </a>
      </li>
      <li class="nav-item {{#if active.news}}active{{/if}}">
        <a class="nav-link" href="/news">
          <i class="nc-icon nc-notification-70"></i>
          <p>News</p>
        </a>
      </li>
      <li class="nav-item {{#if active.developers}}active{{/if}}">
        <a class="nav-link" href="/developers">
          <i class="nc-icon nc-layers-3"></i>
          <p>Developers</p>
        </a>
      </li>
      <li class="nav-item nav-bottom {{#if active.contact}}active{{/if}}">
        <a class="nav-link" href="/contact">
          <i class="nc-icon nc-email-85"></i>
          <p>Contact</p>
        </a>
      </li>
    </ul>
  </div>
</div>
