{{#unless isLivenet}}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-warning">
        <p>
          <b>This site and API use {{ defaultNetwork }} coins.</b>
        </p>
      </div>
    </div>
  </div>
</div>
{{/unless}}
