{{#unless isLivenet}}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-warning">
        <p>
          <b>This site and API use {{ defaultNetwork }} coins.</b>
          Please visit <strong><a href="URL_HOST">URL_HOST</a></strong> for our main production site.
        </p>
      </div>
    </div>
  </div>
</div>
{{/unless}}
