{{#if isTest}}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-warning">
        <p>
          <b>This site and API use TestNet coins.</b>
          Please visit <strong><a href="https://poex.io">poex.io</a></strong> for our main production site.
        </p>
      </div>
    </div>
  </div>
</div>
{{/if}}
